# Never save registration data
data/registrations*

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp
.Ruserdata

# Rendered stuff
/docs/FAQ_files
/docs/FAQ.html

# RStudio files and misc OS junk
.Rproj.user/
.Renviron
.DS_Store

# Posit Connect misc
.posit
